@charset "UTF-8";

body{
margin: 0;
padding: 0;
width: 100%;
font-family: "Open Sans", sans serif;
}

img{
max-width: 100%;
}

main{
	width: 90%;
	margin: 0 auto;
	text-align: justify;
}

.imgWrapper{
	width: 60%;
	margin: 2% auto;
	text-align: center;
}

.vidWrapper{
	text-align: center;
}

.audioWrapper{
	margin: 2% auto;
	width: 60%;
}

.highlight{
	background: #666;
	color: white;
	padding: 1.5%;
	margin: 4% 0 4% 0;
}